<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% categories_list.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
    </tr>
  <% end %>
</table>