<% unless params.valid? %>
  <ul>There was an error on your submission</ul>

  <% params.errors.each do |error| %>
    <li><%= error.attribute_name %> is required</li>
  <% end %>
<% end %>

<%=  
  form_for :sub_category, routes.sub_category_path(sub_category.id), method: "patch", values: { sub_category: sub_category } do
    div class: 'field' do
      label :name
      text_field :name
    end

    div class: 'field' do
      label :description
      text_field :description
    end

    div class: 'field' do
      label :category_id
      select :category_id, { sub_category.category_id.to_s => sub_category.category.name }.merge!(selections)
    end

    div class: 'controls' do
      submit "Update SubCategory"
    end
  end
%>